APP_NAME=EDGE01
APP_MODE=debug #release or debug or test
APP_CACHE_URL=127.0.0.1:8080
APP_INTERNAL_URL=127.0.0.1:8090
CONTROL_PANEL_URL=http://127.0.0.1:9001
NATS_URL=nats://127.0.0.1:4222
JWT_SECRET=your-secret-key-change-in-production
CDN_SNAPSHOT_FILE=./cache/cdns.json
CDN_SYNC_INTERVAL=60
CACHE_CLEANER_TTL=1
CACHE_DIR=./cache
